.container {
  border: 5px solid #e2eaf2;
  border-radius: 24px;
  width: 600px;
  margin: 0 auto;
  font-family: "Ropa Sans", sans-serif;
}
body {
  font-size: large;
}

.searchBox {
  position: relative;
  margin: 10 auto;
  text-align: center;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  width: 240px;
  display: inline-block;
}

.searchBox:hover > .searchInput {
  width: 50%;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  color: black;
}

.searchButton {
  color: black;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: invert;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.searchBox:focus-within {
  width: 50%;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
.material-icons {
  font-size: 12px;
  font-family: "Ropa Sans", sans-serif;
}
.locationPin {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
  display: inline-block;
}
.date,
.weather-icon,
.curentTemp,
.live-City {
  background-color: transparent;
  border: none;
  margin: 0 auto;
  display: block;
  font-size: 60px;
  text-align: center;
}
#live-weather-icon {
  width: 100px;
}
.date {
  font-size: 15px;
}
.currentDescription {
  text-align: center;
}
.UnitOfMeasure {
  text-align: right;
  display: inline-block;
  color: black;
  font-size: large;
}
#conditions {
  text-align: center;
}
a:link {
  color: black;
}
a:active {
  background: black;
  color: whitesmoke;
}

a:visited {
  color: black;
}
#forest {
  text-align: center;
  display: block;
  margin: 0 auto;
}
